bin/flare_bin*
configure.log
config.h
include*
*.o
*.mod
*.swp
src/benchmark/mesh_spacing/benchmark_mesh_spacings
src/benchmark/mesh_spacing/*.dat
src/benchmark/mesh_spacing/*.plt
src/benchmark/mesh_spacing/plot/*.eps
templates/plot/plot_data.pro
templates/plot/plot_lc.pro
