bin/FLARE
bin/flare-*
!bin/flare-*.py
configure.log
config.h
include*
src/version.f90
*so
*_ui.py
*.o
*.mod
*.swp
*~
src/benchmark/mesh_spacing/benchmark_mesh_spacings
src/benchmark/mesh_spacing/*.dat
src/benchmark/mesh_spacing/*.plt
src/benchmark/mesh_spacing/plot/*.eps
templates/plot/plot_data.pro
templates/plot/plot_lc.pro
